.projects {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    color : white;
    text-decoration: none;
}

.projects h1 {
    grid-row: 1;
    grid-column: 2;
}

.projects a {
    color: white;
}

.projects img {
    width: 25vw;
    height: 20vh;
    margin-top: 20px;
}

.pro1 {
    grid-row: 2;
    grid-column: 1;
}

.pro2 {
    grid-row: 3;
    grid-column: 1;
}

.pro3 {
    grid-row: 4;
    grid-column: 1;
}

.pro4 {
    grid-row: 5;
    grid-column: 1;
}

.link1 {
    grid-row: 2;
    grid-column: 2;
    width: 50vw;
    margin-left: 15px;
}

.link2 {
    grid-row: 3;
    grid-column: 2;
    width: 50vw;
    margin-left: 15px;
}

.link3 {
    grid-row: 4;
    grid-column: 2;
    width: 50vw;
    margin-left: 15px;
}

.link4 {
    grid-row: 5;
    grid-column: 2;
    width: 50vw;
    margin-left: 15px;
}

@media only screen and (max-width: 700px) {
    .projects img {
        width: 40vw;
        height: auto;
        margin-top: 20px;
    }
  } 