.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color : white;
  text-decoration: none;
  background-image: url("https://i.imgur.com/ECN8PNO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: 20vh;
  opacity:0.45;
}

.link {
  color : white;
  text-decoration: none;
}
.hexpattern {
   width: 10px;
}

@media only screen and (max-width: 700px) {
  .Nav {
    height: 10vh;
    width: 100vw
  }
} 
