.head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.link {
  
  color : white;
  text-decoration: none;
}

.hexpattern {
   width: 8vw;
}

Menu {
  background-color: "grey",
}

@media only screen and (max-width: 700px) {
  .Nav {
    height: 10vh;
    width: 100vw
  }
  .hexpattern {
    width: 15vw;
  }
  .head {
    visibility: hidden;
  }
} 
