

.hexpattern {
   width: 8vw;
}

Menu {
  background-color: "grey",
}

@media only screen and (max-width: 700px) {
  .Nav {
    height: 10vh;
    width: 100vw
  }
  .hexpattern {
    width: 15vw;
  }
} 
