.flex {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : white;
  text-decoration: none;
}

.resume {
    height: 65vh;   
}

.flex a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 700px) {
  .resume {
      width: 90vw;
      height: auto;
  }
} 

